 <header>
  <div class="text-center"
       style="background-color: #333; color: white; padding: 0;">
    <div class="row">
      <div class="col-2">
        <img src="https://image.spreadshirtmedia.net/image-server/v1/products/T1459A839PA4459PT28D16047801W6059H10000/views/1,width=550,height=550,appearanceId=839,backgroundColor=F2F2F2/sanduhr-sticker.jpg" alt="your image description" style="border-radius: 50%; height: 125px;">
      </div>
      <div class="col">
        <h1 style="font-family: 'Roboto', sans-serif;
           font-size: 60px;
           color: #fff;
           text-shadow: 3px 3px 3px #000;
           animation: glow 2s infinite;">
           JPC-TimeMaster
          </h1>
          <h3 style="font-family: Arial, sans-serif; font-size: 28px; font-weight: bold; text-transform: uppercase; color: #428bca; padding-bottom: 2px; letter-spacing: 1px;">Master Your Time</h3>
          <h3 style="font-family: Arial, sans-serif; font-size: 28px; font-weight: bold; text-transform: uppercase; color: #428bca; padding-bottom: 2px; letter-spacing: 1px;">Master Your Life</h3>

      </div>
      <div class="col-2">
        <img src="https://image.spreadshirtmedia.net/image-server/v1/products/T1459A839PA4459PT28D16047801W6059H10000/views/1,width=550,height=550,appearanceId=839,backgroundColor=F2F2F2/sanduhr-sticker.jpg" alt="your image description" style="border-radius: 50%; height: 125px;">
      </div>
    </div>
  </div>
</header>
<div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink]="['/startseite']">Startseite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auswertung']">Auswertung</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/einstellungen']">Einstellungen</a>
    </li>
  </ul>
  
</div>
<p></p>
<p></p>